#quote-box {
  border: solid 1px magenta;
  width: 70vw;
  height: 40vh;
  box-shadow: 0.25rem 0.25rem 1.5rem;
}

@media screen and (min-width: 768px) {
  #quote-box {
    width: 500px;
  }
}

#text {
  
  width: 100%;
  text-align: center;
}

#author {
  width: 100%;
  text-align: right;
}

.buttons {
  display: flex;
  justify-content: space-around;
}