#quote-box {
  border: solid 3px magenta;
  border-radius: 0.5rem;
  background-color: #e5e5e5;
  padding: 1rem;
  width: 70vw;
  height: 40vh;
  box-shadow: 0.25rem 0.25rem 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

@media screen and (min-width: 768px) {
  #quote-box {
    width: 500px;
  }
}

#text {
  width: 100%;
  text-align: center;
}

#author {
  width: 100%;
  text-align: right;
}

.buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#new-quote, #tweet-quote {
  cursor: pointer;
}

#tweet-quote {
  text-decoration: none;
  text-align:center;
  font-size: 0.9rem;
  border: solid 1px grey;
  border-radius: 0.2rem;
  padding: 0.25rem 1rem;
  background-color: cyan;
  color: black;
  transition: all 0.3s ease-in-out;
}

#tweet-quote:hover {
  background-color: white;
  color: cyan;
}

button {
  transition: color 0.3s ease-in-out;
}

button:hover {
  color: black;
  font-weight: bold;
}